<span ng-if="$ctrl.hasSaasOfferings()" class="saas-offerings-container">
  <h1 ng-if="$ctrl.saasTitle">{{$ctrl.saasTitle}}</h1>
  <div class="saas-list" ng-class="{'expanded': $ctrl.sassListExpanded, 'items-overflow': $ctrl.itemsOverflow}" items="$ctrl.saasOfferings">
    <saas-item
      ng-repeat='item in $ctrl.saasOfferings'
      class="card"
      title='item.title'
      description='item.description'
      url='item.url'
      image='item.image'
      icon='item.icon'>
    </saas-item>
  </div>
  <div ng-if="$ctrl.itemsOverflow" class="sass-list-expander-container">
    <a href="" class="sass-list-expander" ng-class="{'expanded': $ctrl.sassListExpanded}" ng-click="$ctrl.toggleListExpand()">
      Show <span class="more">More</span><span class="less">Less</span>
    </a>
  </div>
</span>
